@import './rest';
@import './mixin';
@import './element-theme';
@import './var.scss';


body,
html,
.el-main {
    @include scollBar;
}

.page-main {
    width: 100%;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .05);
}
.c-p {
    cursor: pointer;
}